<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>311690438837-2fpclmu3eji6lv5tmk0juvcrpi5ld1sj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.311690438837-2fpclmu3eji6lv5tmk0juvcrpi5ld1sj</string>
	<key>API_KEY</key>
	<string>AIzaSyAKq3eMwqOLyDOxWkpFgQQ1KjFc5ft_3E0</string>
	<key>GCM_SENDER_ID</key>
	<string>311690438837</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>rvsantos.RentX</string>
	<key>PROJECT_ID</key>
	<string>rentx-d3561</string>
	<key>STORAGE_BUCKET</key>
	<string>rentx-d3561.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:311690438837:ios:318b4fcf7540e88a1536fc</string>
</dict>
</plist>